@import '@/assets/styles/variables.less';

.layout-wrap {
  min-height: 100%;

  .site-sider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    height: 100vh;
  }

  .site-layout {
    margin-left: 200px;
    &-header {
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      background: #fff;
    }

    &-content {
      overflow: initial;
      margin: 24px 16px 0;
    }
  }
}

.layout-container {
  height: 100%;
}