@import '@/assets/styles/variables.less';

.layout {
  &-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: @sider-width;
    height: 100%;
    color: #fff;
    background-color: #001529;
  }

  &-container {
    margin-left: @sider-width;
  }

  &-header {
    height: @header-height;
    background-color: #fff;
  }
}

// .layout-wrap {
//   height: 100%;
// }