// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #447add;
@font-size-base: 16px; // 主字号
@font-size-sm: 14px;
@btn-font-size-sm: 14px;
@border-radius-base: 2px; // 组件/浮层圆角

@background-color: #f5f5f5;
@border-color-dark: #b6b7b9;
@sider-width: 208px;
@header-height: 60px;